<ion-header [translucent]="true">
	<ion-toolbar>
		<img id="logo" src="assets/milk-gelateria.jpg">
		<ion-title class="d-inline-block">Milk - Gusti disponibili</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card *ngFor="let gusto of gusti">
		<img [src]="gusto.image" >
		<ion-card-content>
			<ion-card-title>{{ off.title }}</ion-card-title>
			<p>{{ off.text }}</p>

			<ion-button expand="block" fill="outline" (click)="Ordina(gusto)">
				<ion-icon slot="start" name="ice-cream-outline"></ion-icon>
				<div>Ordina subito!</div>
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
